#side_img{
    margin-left: 80px;
}
.second-container{
    padding-top: 10rem;
}
#second_cont{
    margin-right: 105px;
}
#second_cont_1{
    margin-right: 48px;
}
#learn_btn{
    margin-top: 20%;
    margin-left: 6px;
}